@use "vars" as *;
@use "mixins" as *;

.site-banner {
	backdrop-filter:saturate(180%)saturate(180%) blur(12px);
	background-color: rgba(255,250,250,0.5);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9;

	@include collapseNav(){
		// remove the fancy FXs on the tablets/phones
		backdrop-filter: none;
		background-color: rgb(253,245,245);
	}
}