@use "sass:math";

// Create REM font-sizes. based on 16px base font-size
// @access public
// @param {sizePixel} $sizePixel - size as px
@mixin font-size($sizePixel) {
	font-size: math.div($sizePixel, 16 ) + rem;
}

// for use on minimum width devices allow some flexiblilty
// in the font size, e.g. ( 16, 4vw )
@mixin font-size-responsive( $minPixel, $responsive ){
	font-size: max( #{math.div($minPixel, 16 ) + rem}, #{$responsive} );
}


// ------------------------------ Patterns
// Flex
// vertical | horizontal
@mixin flex($v,$h) {
	display: flex;
	justify-content: $h;
	align-items: $v;
}

// ------------------------------ Queries
// Media queries
@mixin collapseNav() {
	@media only screen and (max-width: 799px) {
		@content;
	}
}