// CSS vars
$-icons: ("search-green");


:root {
	--kognyt-green: #319c00;
	--kognyt-blue: #0568c9;
	--kognyt-mid: #41835c;

	--txt-link: #001fad;

	--btn-base: #105186;
	--btn-over: #015cc2;

	--btn-green: #387e38;


	@each $i in $-icons {
		--i-#{$i}: url("../svg/in-css/#{$i}.svg");
	}

}