a {
	color:inherit;
	text-decoration: underline;

	&:hover,
	&:focus {
		color:var(--btn-blue);
		text-decoration: none;
	}

	&:active {
		color:#00f;
		outline: 1px dotted var(--btn-blue);
		outline-offset: 1px;
	}
}





		