a {
	color:inherit;
	text-decoration: underline;
	font-weight: 600;

	&:hover,
	&:focus {
		color:var(--txt-link);
		text-decoration: none;
	}

	&:active {
		color:#fff;
		background:var(--kognyt-blue);
	}
}





		