@use "mixins" as *;
@use "vars" as *;

// h1 is reserved for site name in header
h2,
h3,
h4,
p {
	// Help prevent overflow of long words/names/URLs
	overflow-wrap: break-word;

	b, strong {
		font-weight: 500;
	}
}

h2 {
	@include font-size(36);
	font-weight: 300;
	line-height: 1.3;
	padding:0 0 $content-pad 0;
}

h3 {
	@include font-size(28);
	font-weight: 300;
	line-height: 1.3;
	padding:0 0 $content-pad 0;
}


h4 {
	@include font-size(24);
	padding:0 0 $content-pad-small 0;
}

p {
	@include font-size(18);
	padding:0 0 $content-pad 0;
}

// responsive typography on smaller devices
@include collapseNav(){
	h2 {
		@include font-size-responsive( 26, 5vw)
	}
	h3 {
		@include font-size-responsive( 22, 4vw)
	}
	h4 {
		@include font-size-responsive( 18, 3.5vw)
	}
	p {
		@include font-size(16);
	}


}