@use "mixins" as *;
@use "vars" as *;


footer {
	background: var(--bg-footer);
	@include font-size(11);
	color: #888;

	.footer-content {
		margin: 0 auto;
		padding: $content-pad;
		max-width: $content-width;

		@include flex( flex-start, space-between);


		.ft-content {
			flex: 2 1 0;
			margin:0 0 0 20px;
			padding:0 0 0 20px;

			.legals {
				@include font-size(10);
			}
		}
	}

	.logotype {
		width: min( 200px, 40vw);
		margin:0 50px 0 0;
		fill: white;
	}
}
