@use "vars" as *;
@use "mixins" as *;

header {
	backdrop-filter:saturate(180%)saturate(180%) blur(12px);
	background-color: rgba(255,255,255,0.7);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9;

	@include tablet(){
		backdrop-filter: none;
		background-color: #fff;
	}

	border-bottom:1px solid var(--kognyt-green);

	.logo-nav {
		height: 80px;
		max-width:$content-width;
		margin:0 auto;
		padding:0 $content-pad;
		@include flex(center, space-between);
	}

	// SVG
	.kognyt-logo {
		width: min( 200px, 30vw);
		margin:0 50px 0 0;
	}

	// top-nav contains primary (Book/About) and Clinician Sign up / log in
	.top-nav {
		@include flex(center, space-between);
		flex:1 1 0;

		@include tablet(){
			display:none;
			position:absolute;
			top:80px;
			left:0;
			right:0;
			flex-direction: column;
			align-items: flex-start;
			padding:$content-pad;
			background:#fff;
			z-index:9;
			border-bottom:2px solid var(--kognyt-green);

			.primary {
				flex-direction: column;
				align-items: flex-start;
				margin:0 0 $content-pad 0;
			}
		}

	}

	.nav-clinician {
		@include font-size(11);
		font-weight: 600;
		margin:0 0 3px 0;
	}

	.overlay-menu-btn {
		display: none;
		user-select: none;
		cursor: pointer;

		* {
			pointer-events: none;
		}
	}
}