@use "vars" as *;
@use "mixins" as *;

section {
	max-width:$content-width;
	margin:0 auto;
	padding:0 $content-pad $content-pad $content-pad;

	// allow a full width background effect
	&.stretch-full {
		max-width: none;

		.center-content {
			margin:0 auto;
			max-width: #{$content-width - $content-pad};
			padding:$content-pad 0;
		}
	}
}