@use "vars" as *;
@use "mixins" as *;

header {
	.pages-nav {
		@include flex(stretch, flex-end);
		height: 100%;

		// override defaults
		a {
			flex:1 1 0;
			white-space: nowrap;
			@include flex( center, center );
			height: 100%;
			padding:0 20px;
			@include font-size(13);
			font-weight: 700;
			text-decoration: none;

			transition: color 0.2s ease-out, background-color 0.4s ease-in-out;
			
			.active,
			&:hover,
			&:focus {
				color:var(--btn-blue);
				background: #fff;
			}

			&:active {
				color: var(--btn-text);
				background:var(--btn-base);
			}
		}


	}

	.overlay-menu-btn {
		display: none;
		user-select: none;
		cursor: pointer;
		* {
			pointer-events: none;
		}
	}
}