@use "vars" as *;
// wrapper to center content in page layout
.ctr {
	max-width: $content-width;
	margin:0 auto;
	padding: $content-pad-small 0;
}

.ctr-content {
	max-width: $content-width;
	margin:0 auto;
	padding: $content-pad;

	// if anchor linking into a page
	// it will be hidden behind the header banner
	// this shifts the area down
	&.a-hook {
		padding-top: #{$content-pad + $header-height};
	}
}