// https://google-webfonts-helper.herokuapp.com/

/* open-sans-300 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local(""),
	url("/src/build/assets/fonts/open-sans-v29-latin-300.woff2") format("woff2");
}
/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
	url("/src/build/assets/fonts/open-sans-v27-latin-regular.woff2") format("woff2");
	font-display: swap;
}
/* open-sans-600 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local(""),
	url("/src/build/assets/fonts/open-sans-v27-latin-600.woff2") format("woff2");
	font-display: swap;
}
/* open-sans-italic - latin */
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local(""),
	url("/src/build/assets/fonts/open-sans-v29-latin-italic.woff2") format("woff2"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}