@use "vars" as *;
@use "mixins" as *;

.footer-content {
	margin: 0 auto;
	padding: $content-pad;
	max-width: $content-width;

	@include flex( flex-start, space-between);
	gap:40px;

	@include font-size(10);

	h5 {
		padding:0 0 10px 0;
		@include font-size(11);
		color: #777;
	}

	// 3 sections
	.ft-contact,
	.ft-nav {
		flex: 1 1 0;
		padding:0 0 0 $content-pad;
		border-left: 1px dotted #aaa;
	}

	.ft-brand {
		flex: 2 1 0;
	}

	@include collapseNav(){
		flex-direction: column-reverse;
		.ft-contact,
		.ft-nav {
			padding:0 0 0 $content-pad-small;
		}
	}

}