@use "mixins" as *;

.ft-contact {
	.connect {
		@include font-size(16);
		margin:0 0 10px 0;

		.label {
			@include font-size(10);
			color:#888;
			margin:0 5px 0 0;
		}

		svg {
			margin:0 11px 0 0;
		}

		a {
			text-decoration: none;
			white-space: nowrap;
		}
	}
}