@use "mixins" as *;
.ft-brand {
	// Openeyes SVG
	.logotype {
		width: 120px;
		fill: #888;
		margin:0 0 10px 0;
	}

	.legals {
		padding:30px 10px 0 0;
		@include font-size(9);
		color:#999;

		li {
			line-height: 1.2;
			margin:0 0 5px 0;
		}
	}
}