@use "vars" as *;

// <img>
.authorised-provider-logo {
	width: 280px;
	height: 150px;
	object-fit: scale-down;
	padding: $content-pad-small;
	margin:0 auto;
	background: #fff;
	border-radius: 10px;
}