@use "mixins" as *;

table {
	width: 100%;
	border-spacing: 2px;
	border-collapse: separate;

	th {
		@include font-size(12);
		text-align: left;
		color:#999;
		padding:8px 8px 8px 4px;
	}
	td {
		@include font-size(13);
		padding:4px 8px 4px 4px;
		background: var(--bg-shade1);

	}

	tr:nth-of-type(even){
		td {
			background: var(--bg-shade2);
		}
	}

	@include collapseNav(){
		th, td {
			@include font-size(11);
		}
	}

}